.projects {
    height: 100vh;
    min-height: 500px;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80%;
    height: 90%;
    margin-bottom: 30px;
}

@media screen and (max-width: 951px) {
    .projects {
        height: 100%;
    }
}
